body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-image: linear-gradient(to right, wheat,  #fff, hwb(350 76% 0%)) */
   background-color:whitesmoke;
  }
   
  .loader {
    height: 160px;
    width: 160px;
    border: 12px solid #e3e3e3;
    border-radius: 50%;
    border-right-color: rgb(16, 9, 9);
    animation: spin 2s ease infinite;
    
   
   
  }
  
  @keyframes  spin {
    100%{
      transform: rotate(360deg);
    }
  }
  